/*
Colores
  Tarjetas
    Red: hsl(0, 78%, 62%)
    Cyan: hsl(180, 62%, 55%)
    Orange: hsl(34, 97%, 64%)
    Blue: hsl(212, 86%, 64%)
  Sombra
    Dark Blue: hsla(240, 25%, 50%,0.2) al 20% de opacidad;
  Texto
    Grey: hsl(229, 6%, 66%)
  Fondo de la tarjeta y del background
    White: hsl(0, 0%, 93%)

Fuente de la página
  https://fonts.google.com/specimen/Poppins
  Estilos 200, 400 y 600
*/

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-color: hsl(0, 0%, 93%);
}

.page-header{
    text-align: center;  
}

.first-part-title{
    margin-bottom: 10px;
    font-weight: 200;  
}

.second-part-title{
    margin-bottom: 10px;
    font-weight:600;
}

.header-description{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.red-border{
    border-top: 4px solid hsl(0, 78%, 62%);
}
.cyan-border{
    border-top: 4px solid hsl(180, 62%, 55%);
}
.orange-border{
    border-top: 4px solid hsl(34, 97%, 64%);
}
.blue-border{
    border-top: 4px solid hsl(212, 86%, 64%);
}


.page-body{
    display: grid;
    margin-top: 60px;  
}

.card-container{ 
    width: 285px;
    height: 200px;
    padding-left: 25px;
    
    border-radius: 8px;
    box-shadow: 5px 8px 8px hsla(240, 25%, 50%,0.2);
}


.card-title{   
    padding-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.card-icon-container{
    position: relative;
    right: -210px;
    bottom: -40px;
}

.card-icon{
    width: 3rem;     
}
