
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-color: hsl(0, 0%, 93%);
}

.page-header{
    text-align: center;  
}

.first-part-title{
    margin-bottom: 10px;
    font-weight: 200;  
}

.second-part-title{
    margin-bottom: 10px;
    font-weight:600;
}

.header-description{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    color:hsl(229, 6%, 66%)
}

.red-border{
    border-top: 4px solid hsl(0, 78%, 62%);
}
.cyan-border{
    border-top: 4px solid hsl(180, 62%, 55%);
}
.orange-border{
    border-top: 4px solid hsl(34, 97%, 64%);
}
.blue-border{
    border-top: 4px solid hsl(212, 86%, 64%);
}


.page-body{
    overflow: hidden;
    width: 1200px;
    height: 500px; 
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;  
}

.card-container{ 
    width: 285px;
    height: 200px;
    padding-left: 25px;
    border-radius: 8px;
    box-shadow: 5px 8px 8px hsla(240, 25%, 50%,0.2);  
}


.card-title{   
    padding-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.card-body{
    color:hsl(229, 6%, 66%)
}

.card-icon-container{
    position: relative;
    right: -210px;
    bottom: -40px;
}

.card-icon{
    width: 3rem;     
}

.card-1{
    margin-left: auto;
    margin-right: auto;
}

.card-2{
    position: relative;
    left: 800px;
    top: -75px;
}

.card-3{
    position: relative;
    top: -150px;
    margin-left: auto;
    margin-right: auto;
}

.card-4{
    position: relative;
    top: -483px;
    left: 95px;
}
